In [1]:
import pandas as pd
import folium

In [2]:
googleSheetId = '1Yjk75jFIOdj0GXBjS_ok7CV96KlB8EKOWFuL9dwV1E4'

workSheetName = 'Known_coordinates'

url = 'https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}'.format(
    googleSheetId, 
    workSheetName
)

df = pd.read_csv(url)

In [139]:
pd.set_option('display.max_rows', 127)
df.dropna(axis='columns', how='all', inplace=True)

In [126]:
cent_df=df.groupby(['Latitude'])

In [127]:
cent_dfi = cent_df['Century'].value_counts()

In [134]:
cent_dfi = cent_dfi.drop(columns='Century')

In [132]:
cent_dfii=cent_dfii.drop(columns='Century')

In [135]:
cent_dfii

Longitude  Century
37.36026   17          1
37.46760   18         14
           17          9
           15          3
           16          1
37.72578   19          2
37.97223   18          3
38.27596   19          1
38.70371   20          1
38.71515   20          1
38.71711   20          3
           19          2
           16          1
           17          1
           18          1
38.72335   20          4
38.72761   19          1
38.73706   20          2
38.75369   20          1
38.75800   16          2
           18          2
           19          2
38.76187   18          1
38.77200   19          5
           20          5
38.77222   19          2
           20          1
38.77560   20          2
           19          1
38.78174   19          1
38.79112   17          1
           20          1
39.04521   16          1
39.04561   15          1
39.17335   19          1
39.26194   16          3
39.29217   16          1
39.33426   18          1
39.35964   14          1
39.37868   19          1
           20          1
39.40431   16          1
39.40653   19          1
39.41667   18          1
39.43503   20          1
39.44767   18          1
39.45108   20          1
39.51701   15          1
39.51811   19          1
39.55528   17          1
39.59867   20          1
39.60086   18          1
39.60775   17          1
39.67698   19          2
           17          1
39.69241   16          2
39.69743   17          5
           16          2
           18          2
           19          1
39.73325   19          1
           20          1
39.73460   17          1
39.73461   17          1
           19          1
39.73582   16          1
           19          1
39.75000   16          1
           17          1
39.78255   17          1
39.83159   15          1
Name: Century, dtype: int64

In [147]:
cent_dfv= pd.concat([cent_dfi, cent_dfii], axis='columns')

In [149]:
pd.set_option('display.max_rows', 142)
cent_dfv.to_csv('cent_df.csv')

Empty DataFrame
Columns: []
Index: [(8.86824, 17), (8.86824, 20), (8.9853, 16), (8.9853, 17), (8.9853, 18), (8.9853, 19), (8.9853, 20), (9.00456, 20), (9.01039, 20), (9.01059, 19), (9.01059, 20), (9.02862, 20), (9.03679, 18), (9.04673, 16), (9.04673, 18), (9.04673, 19), (9.05327, 20), (9.05344, 20), (9.05789, 19), (9.06476, 19), (9.06476, 20), (9.11658, 19), (9.11658, 20), (9.54882, 16), (9.58969, 19), (9.58969, 20), (9.59499, 17), (9.59524, 17), (9.59524, 19), (9.60072, 16), (9.60072, 19), (9.65117, 15), (9.69204, 15), (9.73542, 17), (10.00071, 16), (10.33026, 19), (10.86303, 19), (10.97215, 18), (11.31343, 17), (11.31343, 19), (11.3388, 16), (11.3388, 17), (11.3388, 18), (11.3388, 19), (11.52036, 14), (11.66667, 16), (11.66667, 17), (11.78794, 20), (11.83097, 18), (11.99954, 18), (12.00667, 17), (12.03133, 16), (12.03173, 15), (12.37609, 17), (12.6086, 15), (12.6086, 16), (12.6086, 17), (12.6086, 18), (13.66357, 19), (13.9773, 17), (14.16529, 18), (14.30883, 19), (14.30883, 20), (14.32736, 16), (14.34529, 20), (14.37433, 16), (14.39483, 19), (14.40967, 19), (14.42711, 20), (14.7, 18), (15.82958, 19), (37.36026, 17), (37.4676, 15), (37.4676, 16), (37.4676, 17), (37.4676, 18), (37.72578, 19), (37.97223, 18), (38.27596, 19), (38.70371, 20), (38.71515, 20), (38.71711, 16), (38.71711, 17), (38.71711, 18), (38.71711, 19), (38.71711, 20), (38.72335, 20), (38.72761, 19), (38.73706, 20), (38.75369, 20), (38.758, 16), (38.758, 18), (38.758, 19), (38.76187, 18), (38.772, 19), (38.772, 20), (38.77222, 19), (38.77222, 20), (38.7756, 19), (38.7756, 20), ...]

[142 rows x 0 columns]

In [ ]:
df_counts

In [ ]:
df_counts.to_csv('location_counts.csv')

In [ ]:
df.isna()

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['Latitude'].unique()