In [1]:
import pandas as pd
import folium

In [29]:
googleSheetId = '1Yjk75jFIOdj0GXBjS_ok7CV96KlB8EKOWFuL9dwV1E4'

workSheetName = 'Known_coordinates'

url = 'https://docs.google.com/spreadsheets/d/{0}/gviz/tq?tqx=out:csv&sheet={1}'.format(
    googleSheetId, 
    workSheetName
)

df = pd.read_csv(url)

In [30]:
pd.set_option('display.max_rows', 127)
df.dropna(axis='columns', how='all', inplace=True)

In [51]:
cent_df=df.groupby(['Century'])

In [52]:
cent_df = pd.DataFrame(cent_df['Latitude'].value_counts())

In [56]:
cent_df_lat = pd.DataFrame(cent_df_lat)

In [57]:
cent_df_lat

Empty DataFrame
Columns: []
Index: []

In [ ]:
filt = df['Latitude'] == 8.98530
df.loc[filt].value_counts()

In [10]:
 df_counts = groups['Latitude'].value_counts()

In [11]:
df_counts

Latitude  Latitude
8.86824   8.86824      2
8.98530   8.98530      8
9.00456   9.00456      1
9.01039   9.01039      2
9.01059   9.01059      3
9.02862   9.02862      1
9.03679   9.03679      1
9.04673   9.04673      6
9.05327   9.05327      4
9.05344   9.05344      1
9.05789   9.05789      1
9.06476   9.06476     10
9.11658   9.11658      3
9.54882   9.54882      2
9.58969   9.58969      2
9.59499   9.59499      1
9.59524   9.59524      2
9.60072   9.60072      2
9.65117   9.65117      1
9.69204   9.69204      1
9.73542   9.73542      1
10.00071  10.00071     3
10.33026  10.33026     2
10.86303  10.86303     1
10.97215  10.97215     3
11.31343  11.31343     3
11.33880  11.33880    10
11.52036  11.52036     1
11.66667  11.66667     2
11.78794  11.78794     1
11.83097  11.83097     1
11.99954  11.99954     1
12.00667  12.00667     1
12.03133  12.03133     1
12.03173  12.03173     1
12.37609  12.37609     1
12.60860  12.60860    27
13.66357  13.66357     1
13.97730  13.97730     1
14.16529  14.16529     1
14.30883  14.30883     2
14.32736  14.32736     1
14.34529  14.34529     1
14.37433  14.37433     1
14.39483  14.39483     1
14.40967  14.40967     1
14.42711  14.42711     1
14.70000  14.70000     1
15.82958  15.82958     1
Name: Latitude, dtype: int64

In [ ]:
df_counts.to_csv('location_counts.csv')

In [ ]:
df.isna()

In [ ]:
df

In [ ]:
df.dtypes

In [ ]:
df['Latitude'].unique()